@CHARSET "ISO-8859-1";

/***************************
*THEME OVERRIDE
***************************/
.ui-widget-content {
	/*background: white;*/
	background: #ffffff;
}

/***************************
*THEME DROPPER
***************************/
html {
	font: 400 14px Lato, Arial, sans-serif;
	background-color: #edf0f5;
}

body {
	margin: 0px;
}

div#conteudo {
	/*padding-top: 60px;*/
	
}

div#conteudo .dropper-separator {
	height: 40px;
}

div#conteudo .section-login {
	display: block;
	/*background-color: white;*/
	margin: 80px 0;
	box-sizing: border-box;
	/*height: 450px;*/
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 2em;
	text-align: center;
	color: #4f575b;
}


div#conteudo .section-login img {
	width: auto;
	height: 175px;
}

div#conteudo .ui-button {
	margin: 0;
	border: 1px solid #1f89ce;
	color: #fff;
	background: #2399e5;
}

div#conteudo div#section-login-logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	/*padding-top: 20px;*/
}

div#conteudo div#section-login-form, div#conteudo div#section-cadastro-form
	{
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	height: 100%;
}

div#conteudo .section-login-form-table {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 54%;
}

div#conteudo .section-login-form-table .ui-widget-content, div#conteudo .section-cadastro-form-table .ui-widget-content
	{
	border: none;
	border-color: transparent;
}

.dr-button-center {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
}

.menu-header-logo {
	/*display: block;*/
	/*padding: 6px 0; */
	width: auto;
	max-height: 25px;
}

.section-cadastro {
	border: none;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#conteudo #cadastroUsuario-form .ui-widget-content {
	text-align: right;
}

.section-cadastro-form-table-buttons,
	.section-repositorio-form-table-charts {
	width: 100%;
}

.section-repositorio-form-table-charts .ui-panelgrid-cell {
	border: none;
}

.section-repositorio-panel .ui-widget-content{
	border: 0px solid transparent;
}

#conteudo .section-cadastro-form-table-buttons .ui-widget-content,
	#conteudo .section-cadastro-form-table-buttons .ui-widget-content .ui-panelgrid-cell
	{
	text-align: center;
	border: none;
}

div#conteudo  .section-cadastro-form-table-buttons .ui-button {
	width: 60%;
}

/**
* HOVER EM TODO O TEMA
*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	/*
	border: none;
	background: inherit;
	
	color: inherit;
	-webkit-transition: padding-left 0.3s;
	transition: padding-left 0.3s;
	*/
	
}

.dr-sidebar .ui-menu.ui-widget li>.ui-menuitem-link.ui-state-hover {
	background-color: transparent;
	background-image: none;
}

/***************************
MENUHEADER
***************************/
#menu-header {
	position: fixed;
	width: 100%;
	z-index: 103;
}

#menu-header .ui-menu {
	border-radius: 0px;
}

#menu-header .ui-widget-content {
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
	box-sizing: border-box;
	color: #ffffff;
	z-index: 101;
	background: #ffffff;
}

/***************************
SIDEBAR
***************************/
.dr-sidebar {
	margin-top: 43px;
	position: fixed;
	width: 250px;
	height: 100%;
	z-index: 102;
	-moz-transition: margin-left 0.3s;
	-o-transition: margin-left 0.3s;
	-webkit-transition: margin-left 0.3s;
	transition: margin-left 0.3s;
	background-color: #4e5159;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4e5159),
		to(#1f2023));
	background-image: -webkit-linear-gradient(top, #4e5159, #1f2023);
	background-image: -moz-linear-gradient(top, #4e5159, #1f2023);
	background-image: -ms-linear-gradient(top, #4e5159, #1f2023);
	background-image: -o-linear-gradient(top, #4e5159, #1f2023);
	background-image: linear-gradient(top, #4e5159, #1f2023);
	filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#4e5159',
		end-colourStr='#1f2023');
}

.dr-sidebar .profile {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 40px 0;
}

.dr-sidebar .profile img {
	display: block;
	width: 56px;
	margin: 0 auto;
}

.dr-sidebar .profile>a {
	display: inline-block;
	margin-bottom: 10px;
	color: #ffffff;
	text-decoration: none;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.dr-sidebar .profile>a .username {
	display: inline-block;
	margin-top: 8px;
}

.dr-sidebar .profile .profile-logout {
	text-align: center;
}

.dr-sidebar .profile .profile-logout a {
	color: #ffffff;
	text-decoration: none;
	padding-right: 60px;
}

.dr-sidebar .profile .profile-logout a:BEFORE {
	padding: 7px;
}

.dr-sidebar .profile .profile-progress-bar {
	padding: 10px 15px;
}

.dr-sidebar .profile .profile-progress-bar .ui-progressbar, .dr-sidebar .profile .profile-progress-bar .ui-progressbar-value
	{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border-color: #1f89ce;
}

.dr-sidebar .profile .profile-progress-bar .ui-progressbar-value {
	background: #1f89ce;
}

.dr-sidebar .dr-menu .ui-panelmenu-panel .ui-widget {
	border-radius: 0;
	background: inherit;
	font-weight: normal;
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	display: block;
	box-sizing: border-box;
	border-top: 1px solid #4e5159;
	-moz-transition: padding-left 0.3s;
	-o-transition: padding-left 0.3s;
	-webkit-transition: padding-left 0.3s;
	transition: padding-left 0.3s;
}

.dr-sidebar .dr-menu .ui-panelmenu-panel .ui-menu {
	width: 100%;
}

.dr-sidebar .dr-menu .ui-panelmenu-panel .ui-widget-content {
	border: none;
}

.dr-sidebar .dr-menu .ui-panelmenu-panel .ui-icon {
	/* display: none; */
	
}

.dr-sidebar .dr-menu .ui-state-default a, .dr-sidebar .dr-menu .ui-state-default a:link,
	.dr-sidebar .dr-menu .ui-state-default a:visited {
	color: #ffffff;
	text-decoration: none;
}

.dr-sidebar .dr-menu .ui-menuitem-outline {
	outline: 0px none;
	color: #2399e5;
}

#conteudo .dr-sidebar .dr-menu  .ui-panelmenu-panel .ui-panelmenu-content
	{
	background: inherit;
}

.dr-sidebar .dr-menu  .ui-panelmenu-panel  .ui-menuitem a {
	color: #ffffff;
	padding: 10px 15px;
	font-size: 15px;
	position: relative;
	text-decoration: none;
	display: block;
}

.dr-sidebar .dr-menu  .ui-panelmenu-panel  .ui-menuitem a .ui-icon {
	margin-right: 10px;
}

/**
* HOVER NO MENU LATERAL
*/
.dr-sidebar .ui-state-hover, .dr-sidebar .ui-widget-content .ui-state-hover,
	.dr-sidebar .ui-widget-header .ui-state-hover, .dr-sidebar .ui-state-focus,
	.dr-sidebar .ui-widget-content .ui-state-focus, .dr-sidebar .ui-widget-header .ui-state-focus
	{
	/*color: #ffffff;
	-moz-transition: padding-left 0s;
	-o-transition: padding-left 0s;
	-webkit-transition: padding-left 0s;
	transition: padding-left 0s;*/
	background: inherit;
}

/***************************
DASHBOARD
***************************/
.upload-area .ui-fileupload-content {
	height: 250px;
	background-image:
		url(../javax.faces.resource/upload-opacity.png.xhtml?ln=img);
	background-repeat: no-repeat;
	background-position: center center;
}

.dashboard-area {
	margin-top: 50px;
	background: #ffffff;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-area .ui-widget-header {
	border: none;
	background: none;
	background-color: #0388e5;
	color: #ffffff;
	font-weight: bold;
	background-color: #0388e5;
}

/**
* BOTOES 
*/
.upload-area .ui-state-default, .upload-area .ui-widget-content .ui-state-default,
	.upload-area .ui-widget-header .ui-state-default {
	border: none;
	background: none;
	font-weight: bold;
	color: inherit;
}

.dropper-grid-area .ui-panel-title {
	background: #d7ebf9
		url(/dropper-web/javax.faces.resource/images/ui-bg_glass_80_d7ebf9_1x400.png.xhtml?ln=primefaces-cupertino)
		50% 50% repeat-x;
	font-weight: bold;
	color: #2779aa;
	opacity: 0.5;
}

.dropper-grid-area .ui-datagrid-content .ui-widget-content {
	border: none;
}

.dropper-grid-area .ui-widget-content img {
	width: auto;
	max-width: 225px;
	max-height: 200px;
}

.dropper-grid-area .ui-widget-content #dropper-image-visualizar img {
	width: auto;
	heiht: auto;
}

.dropper-grid-area-arquivo .ui-datagrid-content .ui-widget-content {
	width: auto;
	max-width: 160px;
	height: 100px;
	font-size: 0.935em
}

.dropper-grid-area-arquivo .ui-widget-content .ui-grid-row {
	/* Hack para acertar icones de arquivos com nome em duas linhas */
	margin-bottom: 10px;
}